body {
    margin: 20px auto;
    max-width: 1100px;
}

h1 {
    color: #F90B6D;
    font-family: 'Open Sans', sans-serif;
    font-size: 34px;
    font-weight: 300;
    line-height: 40px;
    margin: 0 0 16px;
}

h2 {
    color: #F90B6D;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    margin: 0 0 14px;
}

p {
    color: #222;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 24px;
}

.preserve-whitespace {
    white-space: pre-wrap;
}

a {
    color: #6900FF;
    text-decoration: none;
    border-bottom: 1px solid #6900FF;
}
a.direct-link {
    margin-bottom: 16px;
    display: inline-block;
}

a:hover {
    border-bottom: 1px solid transparent;
}
.about {
    font-style: italic;
}

.status {
    border-radius: 5px;
    padding: 5px;
    background-color: #ccc;
    margin-right: 8px;
}

.status-awaiting_approval {
    background-color: #EFEF64;
}
.status-approved, .status-completed {
    background-color: #71F581;
}
.status-cancelled {
    background-color: #FF6464;
}

/* Based on http://nicolasgallagher.com/pure-css-speech-bubbles/demo/ */
.speech-bubble {
  position: relative;
  padding: 5px;
  margin: 1em 0 1em;
  border: 5px solid #E5E6E4;
  background: #E5E6E4;
  border-radius: 10px;
}

.speech-bubble:before {
  content: "";
  position: absolute;
  bottom: -20px; /* value = - border-top-width - border-bottom-width */
  left: 30px; /* controls horizontal position */
  border-width: 20px 20px 0;
  border-style: solid;
  border-color: #E5E6E4 transparent;
}

.speech-bubble p {
    margin: 0;
}

label {
    display: inline-block;
    min-width: 100px;
}

.cr-id {
    color: #ccc;
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px;
}
